# -*- coding: utf-8  -*-
# -*- author: jokker -*-

# ignore all .pyc and .pyo .pyd file
*.pyc
*.py[cod]

# ignore assign file
src\appQingZang\pluginQZ\*.py[cod]
src\common\config\*.py[cod]
src\common\entity\*.py[cod]
src\common\jdbc\*.py[cod]
src\common\process\*.py[cod]
src\common\utils\*.py[cod]
src\common\*.py[cod]
src\*.py[cod]

# ignore folder : idea
.idea/
./build/
./dist/
./JoUtil.egg-info/

# make .ignore work immediately : https://blog.csdn.net/x541211190/article/details/106052777

